* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

ol,
ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

html,
body {
    height: 100%;
    margin: 0;
}

/* test */
body {
    background-color: $background-color;
    font-family: $body-font;
    color: $font-color;
}


/* Typografy */

body {
    line-height: 1.5rem;
    color: $font-color;
}

p,
td,
th,
li,
dd {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

p {
    font-family: $body-font;
    font-size: 1.15em;
    letter-spacing: $font-body-letter-space;
    margin-bottom: 1.8rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.6em;
    // font-weight: bold;
    font-family: $head-font;
    letter-spacing: $font-letter-space;
    // color: $font-heading-color;
}

a {
    text-decoration: none;
    color: $link-color;
}

a:hover {
    color: $hover-link;
}

img {
    max-width: 100%;
    filter: $filter-image;
}
