// $accent1: #E2C063;
// $accent2: #7BE3C4;
// $accent3: #967C33;
// $accent4: #CE4DE3;
// $accent5: #8A3B96;

$background-color: #fff9eb;
$font-color: rgb(81, 60, 17);
$font-heading-color: rgb(69, 51, 11);
$head-font-color: #fff;
// $header-small-color: #ecdeb7;
$header-small-color: #f9f4e4;

$accent: #52e2b7;
$accent-transparent: rgba(82, 226, 183, 0.6);
$discrete-accent: #e2c063;

$link-color: #8a3b96;
$hover-link: #ce4de3;
$footer-font: rgb(81, 60, 17);

$box-font-color: #fff;
$book-box-transparent: rgba(227, 211, 166, 0.15);

$border-color: rgb(238, 226, 201);
$footer-back: rgb(238, 226, 201);
$footer-triangle-color: #fff9eb;

$head-font: 'Poiret One', sans-serif;
$body-font: 'Open Sans', sans-serif;
$small-head-font: 'Open Sans', sans-serif;
$footer-font-family: 'Open Sans', sans-serif;

$filter-image: none;

$hero-text-shadow: 0 0 10px #fff, 0 0 20px #ff9602, 0 0 30px #ff9602;
$box-border: 1px solid #fff;
$font-letter-space: 2px;
$font-body-letter-space: 1px;
$book-text-space: 1px;
