$head-font: 'Special Elite', monospace;
$body-font: 'Open Sans', sans-serif;
$small-head-font: 'Special Elite', Courier, monospace;
$footer-font-family: 'Special Elite', Courier, monospace;

$hero-text-shadow: none;

$background-color: rgb(0, 0, 0);

$font-color: #dbd8d8;
$font-heading-color: #fff;
$head-font-color: #fff;
$header-small-color: #fff;

// $accent: #0E6E5E;
$accent: #db1138;
$transparent: rgba(20, 122, 105, 0.5);
$accent-transparent: rgba(219, 17, 57, 0.6);
$hover-link: #db1138;
$link-color: #db1138;

$border-color: #632632;

$footer-back: rgb(0, 0, 0);
$footer-font: #9b7f84;
$footer-triangle-color: #632632;

$box-font-color: #fff;
$box-border: none;
$font-letter-space: 2px;
$font-body-letter-space: 0;
$book-text-space: 2px;

$nav-back-transparent: rgba(27, 27, 27, 0.6);
$book-box-transparent: rgba(52, 52, 52, 0.3);

$filter-image: grayscale(85%);

// $one: #6E191B;
// $two: #851850;
// $three: #79167A;
// $four: #196E30;
// $five: #BA3D40;
// $six: #0E6E5E;
// $seven: #6D146E;
